/* comportamento con larghezze sotto i 768px e fino a 576px */
@media screen and (max-width: 768px) {
  /* tolgo la dimensione orizzontale fissa al container */
  .container {
    width: auto;
  } 
}

/* comportamento con larghezze sotto i 576px */
@media screen and (max-width: 576px) {
  /* impongo alle row di incolonnare i
  propri figli e centrarli */
  .row {
    flex-direction: column;
    align-items: center;
  }
  /* rimuovo i padding laterali molto grandi
  su queste larghezze e li aggiungo in verticale */
  .col {
    padding: 1.5rem 0;
  }
  /* do alle colonne in section lessons la
  possibilità di prendere più larghezza di
  finestra (o di schermo) */
  .lessons .col {
    width: 90%
  }
  /* do alle colonne in section steps la
  possibilità di prendere più larghezza di
  finestra (o di schermo) */
  .steps .col {
    width: 90%;
  }
    /* do a tutte le colonne in section why-us la
  possibilità di prendere più larghezza di
  finestra (o di schermo) */
  .why-us .col-left {
    width: 90%;
  }

  .why-us .col-right {
    width: 90%;
  }
}

/* comportamento per larghezze tra i 1160px e i 768px */
@media screen and (max-width: 1160px) {
  /* il container lavora con max-width per
  non fare espandere eccessivamente il suo contenuto ma
  è libero di contrarsi sotto max-width proprio perché
  la dimensione è limitata solo muovendosi verso
  dimensioni maggiori */
  .container {
    width: auto;
    max-width: 1140px;
  }
}

/* commit finale */
