/* comportamento con larghezze sotto i 768px e fino a 576px */
@media screen and (max-width: 768px) {
  /* tolgo la dimensione orizzontale fissa al container */
  .container {
    width: auto;
  } 
}

/* comportamento con larghezze sotto i 576px */
@media screen and (max-width: 576px) {
  /* impongo alle row di incolonnare i propri figli e centrarli */
  .row {
    flex-direction: column;
    align-items: center;
  }
  /* rimuovo i padding laterali molto grandi su queste larghezze
  e li aggiungo lungo in verticale */
  .col {
    padding: 1.5rem 0;
  }
  /* do alle colonne in lessons la possibilità di prendere più
  larghezza di finestra (o di schermo) */
  .lessons .col {
    width: 90%
  }
}